<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal logo"><a href="/">Standup Stash</a></h5>
      <% if(user){ %>
        <a href="/add" class="btn btn-default">Add Status</a>
        <a href="/list/team" class="btn btn-default">Stash Log</a>
        <a href="/user/profile" class="btn btn-default">Settings</a>
        <a href="/user/logout" class="btn btn-default">Log out</a>
     <% } else{ %>
       <a href="/features" class="btn btn-default">Features</a>
       <a href="/user/login" class="btn btn-default">Login</a>
       <a href="/user/signup" class="btn btn-default">Signup</a>
    <% } %>
    </div>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1>Login</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/user/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" value="">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" value="">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/user/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>

<footer class="text-muted">
      <div class="container">
        <p>&copy; 2018 Standup Stash! | Built by <a href="http://www.onerutter.com">Jake Rutter</a> for <a href="https://twitter.com/hashtag/100DaysOfCode?src=hash">#100daysofcode</a></p>
      </div>
    </footer>
</body>
</html>
